body {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #88888880;
  border-radius: 5px;
}
.toclick {
  background-image: linear-gradient(120deg, #0042dd 0%, #f68084 100%);
}
.app {
  display: flex;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  width: 100%;
  height: 100%;
}
.app .left {
  display: flex;
  flex-direction: column;
  width: 50px;
  transition: all 0.5s;
  height: 100%;
  align-items: center;
}
.app .left .talklist {
  overflow: auto;
  height: calc(100%-80px);
}
.app .left .talklist .talklistbox {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.app .left .talklist .talklistbox01 {
  display: flex;
  width: 165px;
  height: 30px;
  transition: all 0.5s;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.app .left01 {
  display: flex;
  flex-direction: column;
  width: 180px;
  transition: all 0.5s;
  height: 100%;
  align-items: center;
}
.app .talk {
  width: calc(100%-40px);
}
.app .main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: auto;
}
.app .main .titlenow {
  font-size: 25px;
  text-align: center;
}
.app .main .input {
  background-color: #ffffff00;
  height: 20px;
  padding: 10px;
  width: 80%;
  color: #000000;
  /* text-align: center; */
  border: 2px solid #000000;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}
.app .main .input01 {
  position: relative;
  width: 80%;
}
.app .main .input:focus {
  color: #000000;
  background-color: #ffffff;
  outline-color: #00b2b2;
  box-shadow: -2px -2px 15px #00b2b2;
  transition: 0.1s;
  transition-property: box-shadow;
}
.app .main .talk {
  flex: 1;
}
.app .main .talk ul {
  overflow: auto;
  height: 100%;
}
.app .main .talk ul li {
  margin-top: 20px;
  display: flex;
  list-style: none;
  padding: 5px;
}
.app .main .talk ul li .a {
  display: flex;
  padding: 10px;
  width: 1000px;
  border-radius: 10px;
  align-items: center;
}
.app .main .talk ul li .photo {
  display: flex;
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-blend-mode: screen;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.app .main .talk ul li .right {
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: 10px;
  height: auto;
  white-space: normal;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.app .main .talk ul li .right .title {
  margin-left: 10px;
  font-size: 20px;
}
.app .main .talk ul li .right .text {
  width: 900px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-left: 10px;
}
.app .main .in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.app .main .in .maintalk {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90%;
  width: 80%;
  height: auto;
}
.app .main .in button {
  height: 45px;
  border-radius: 5px;
  min-width: 40px;
  border: 0px;
}
.app .main .in button:hover {
  box-shadow: -3px -3px 15px #c4f7f7;
}
.talkend {
  align-items: end;
}
.talkend .title {
  margin-right: 10px;
}
.talkend .text {
  width: 900px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-right: 10px;
}
.talkright {
  flex-direction: row-reverse;
}
